<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../includes/ow/head") %>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include("../../includes/sidebar") %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include("../../includes/ow/topbar") %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <% let fromEventText = ""; %>
                    <% if (fromEvent) { %>
                    <%   if (fromEvent == "killed") { fromEventText = "You just killed " } %>
                    <%   if (fromEvent == "killer") { fromEventText = "You were killed by " } %>
                    <% } %>
                    <h1 class="h3 mb-4 text-gray-800"><%= fromEventText %><%= stats.username %><% if (!fromEvent) { %>'s Stats<% } %></h1>

                    <!-- Platform Select -->


                    <!--TODO: Make this only show played platforms -->


                    <div class="text-xs text-gray-800 text-uppercase mb-1">Platform</div>
                    <div class="mb-4 btn-group">
                        <a href="<%= stats.username %>" class="btn btn-primary <%= stats.stats.platform == 'all' ? 'disabled' : '' %>">
                            <span title="All platforms combined">
                              All
                            </span>
                        </a>
                        <% if (stats.platforms.includes("kbm")) { %>
                        <a href="<%= stats.username %>?platform=kbm" class="btn btn-primary <%= stats.stats.platform == 'kbm' ? 'disabled' : '' %>">
                            <span title="Keyboard & Mouse">
                              <i class="fas fa-keyboard"></i>
                            </span>
                        </a>
                        <% } %>
                        <% if (stats.platforms.includes("gamepad")) { %>
                        <a href="<%= stats.username %>?platform=gamepad" class="btn btn-primary <%= stats.stats.platform == 'gamepad' ? 'disabled' : '' %>">
                            <span title="Gamepad">
                              <i class="fas fa-gamepad"></i>
                            </span>
                        </a>
                        <% } %>
                        <% if (stats.platforms.includes("touch")) { %>
                        <a href="<%= stats.username %>?platform=touch" class="btn btn-primary <%= stats.stats.platform == 'touch' ? 'disabled' : '' %>">
                           <span title="Touch">
                              <i class="fas fa-hand-pointer"></i>
                            </span>
                        </a>
                        <% } %>
                    </div>

                    <%- include("../../includes/stats/big") %>
                  
                    <!-- Content Row -->
                    <div class="row">
                      
                      <!-- Content Column -->

                        <% if (stats.stats.solo !== null) { %>
                        <div class="col-12">
                            <%- include("../../includes/stats/playlist", { playlistName: 'Solo', playlistStats: stats.stats.solo }) %>
                        </div>
                        <% } %>

                        <% if (stats.stats.duo !== null) { %>
                        <div class="col-12">
                            <%- include("../../includes/stats/playlist", { playlistName: 'Duos', playlistStats: stats.stats.duo }) %>
                        </div>
                        <% } %>

                        <% if (stats.stats.trio !== null) { %>
                        <div class="col-12">
                            <%- include("../../includes/stats/playlist", { playlistName: 'Trios', playlistStats: stats.stats.trio }) %>
                        </div>
                        <% } %>

                        <% if (stats.stats.squad !== null) { %>
                        <div class="col-12">
                            <%- include("../../includes/stats/playlist", { playlistName: 'Squads', playlistStats: stats.stats.squad }) %>
                        </div>
                        <% } %>

                        <% if (stats.stats.ltm !== null) { %>
                        <div class="col-12">
                            <%- include("../../includes/stats/playlist", { playlistName: 'LTM Modes', playlistStats: stats.stats.ltm }) %>
                        </div>
                        <% } %>

                        <!-- Content Column -->
                        <div class="col-12">

                            <!-- Plain JSON -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#userJSON" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="false" aria-controls="userJSON">
                                    <h6 class="m-0 font-weight-bold text-primary"><%= stats.username %>'s Stats (JSON Format):</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse" id="userJSON">
                                    <div class="card-body">
                                        <pre><code><%- JSON.stringify(stats, null, 2) %></code></pre>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include("../../includes/footer") %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <%- include("../../includes/ow/doc-end") %>

</body>

</html>